@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*-color-text-light: #000; /* Color de texto para el tema claro */
 /* --color-text-dark: #fff; /* Color de texto para el tema oscuro */

}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 0, 0; /*color inicial del gradiente*/
    --background-end-rgb: 204, 204, 204; /*color final del gradiente*/
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-start-rgb: 241, 244, 248; /*color inicial del gradiente*/
    --background-end-rgb: 241, 244, 248; /*color final del gradiente*/
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;  /*Navegador debe ajustar el texto de la mejor forma en el html*/
  }
}
